body {
}

#divSubmmitReg {
    display: inline;
    /*margin-left: 15%;*/
    margin-bottom: 3%;
    margin-top: 3%;
    background-color:red;
}

.btn-lg {
    margin-top:2%;
}

.row_registroForm {
margin-top:1%;
}

.info_div {
    background-color: yellow;
    width: 100%;
    text-align: center;
}

#fecha { 
/*border:1px solid #969696;
border-radius:4px;*/
text-align:center;
}

.campo {
margin-left:10%;
}

.datosLbl{
    margin-left: 10%;
}

.campo_izquierda {
    width: 40%;
}

.campoIzq {
width:25%;
}

.tabla_encabezado {
    background-color: #8DAA9D;
    font-weight:bold;
}
