<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.conexion" connectionString="Data Source=LAPTOP-RL91DK19\MYSQLSERVER;Initial Catalog=AMCRL;Integrated Security=True" />
    </connectionStrings>
</configuration>